
.back {
    background-color: rgb(74, 226, 201);
    
}
h1 {
    margin-top: 130px;
    margin-left: 50px;
   position: absolute;
    font-size: 23px;
    
}

.img{
    position: absolute;
    display: block;
    margin-top: 10px;
    margin-left: 60px;
}
.image_wrapper {
    margin-left: 24%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
  width:25%;
  padding:5px;
  border-radius: 10px;
  position: relative;
  background-color: rgb(231, 250, 243);
  
  
}

.pointer{
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    border-top-color: none;
    border-left-color: none;
    position: absolute;
    top: 50px;
    left: -11px;
    transform: rotate(-45deg);
    background: rgb(231, 250, 243);
  }

.logo_wrapper{
    position: relative;
}

.fa-user{
    position: absolute;
    top: 27px;
    right: 10px;
    color: darkgrey;
}

.fa-lock{
    position: absolute;
    top: 27px;
    right: 10px;
    color: darkgrey;
}

.fa:hover{
    cursor:text;
}

.name {
    padding-left: 10px;
    box-sizing: border-box;
    margin-top: 15px;
    float: initial;
    background-color: white;
    display: block;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    font-family: revert;
    font-weight: bold;
    font-size: 18px;
    border: none;
   
}

.password {
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    float: initial;
    background-color: white;
    display: block;
    width: 300px;
    height: 50px;
    font-family: revert;
    font-weight: bold;
    font-size: 18px;
    border: none;
    
}



.submit {
    box-sizing: border-box;
    margin-top: 20px;
    float: initial;
    display: block;
    background: rgb(21, 177, 164);
    border-radius: 10px;
    width: 300px;
    height: 50px;
    font-family: revert;
    font-weight: bold;
    font-size: 18px;
    color: white;
    border:none;
}
h4{
    margin-bottom: 15px;
    color: darkgrey;
}

.border{
    border: rgb(117, 15, 15);
    width: 100px;
    height: 100px;
    background-color: rgb(145, 64, 64);
    position: absolute;
}

.name:hover {
    border-color:rgb(21, 177, 164);
}

.password:hover {
    border-color:rgb(21, 177, 164);
}

.name::placeholder {
    color: darkgrey;
}

.password::placeholder {
    color: darkgrey;
}

.name:focus {
    border: 2px solid rgb(21, 177, 164);
    outline: none;
}

.password:focus {
    border: 2px solid rgb(21, 177, 164);
    outline: none;
}

.password:focus +.fa {
    color: rgb(21, 177, 164);
}

.name:focus +.fa {
    color: rgb(21, 177, 164);
}